body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(186, 73, 73);
    display: flex;
    justify-content: center;
}

.calculator {
    padding: 10px;
    margin-top: 1rem;
    color: white;
    background-color: rgb(37, 37, 37);
}