body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(186, 73, 73);
    display: flex;
    justify-content: center;
}

.calculator {
    padding: 1.5rem;
    margin-top: 1rem;
    color: white;
    background-color: rgb(37, 37, 37);
    border-radius: 2rem;
}

.screen {
    padding: 1rem;
    display: flex;
    background-color: rgb(68, 68, 68);
    justify-content: flex-end;
    border-radius: 1.3rem;
    height: 4rem;
}