* {
    font-family: 'Righteous', cursive;
    color: white;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(248, 70, 70);
    display: flex;
    justify-content: center;
}

.calculator {
    padding: 1.2rem;
    margin-top: 5rem;
    background-color: rgb(37, 37, 37);
    border-radius: 2rem;
}

.screen {
    padding: .3rem .8rem;
    display: flex;
    background-color: rgb(68, 68, 68);
    justify-content: flex-end;
    border-radius: 1.1rem;
    height: 6rem;
    font-size: 2rem;
    color: rgb(113, 218, 113);
    font-family: 'Inconsolata', monospace;
}

.buttons {
    padding-top: 1.2rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: .5rem;
}

.last-item {
    grid-column-start: 3;
    grid-column-end: 5;
    justify-self: stretch;
    width: auto;
    border-radius: 2rem;
}

button {
    font-size: 1.5rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border-style: none;
    background-color: rgb(118, 118, 118);
}